.todo-intro h2 {
    color: $c-3;
    font-weight: 300;
    text-align: center;
}



.list--show {
    
    &-header {

        padding: 50px 0px 50px 0px;
        text-align: center;

        h1 {
            font-size: 3em;
            font-weight: 700;

            span.badge {
                margin-left: 50px;
                display: inline-block;
            }

            span.badge.animation-ring {
                animation: ring 0.5s ease-in-out ;
                transform-origin: 50% 4px;
            }

            @keyframes ring {
                0% { transform: translateY(0); }
                30% { transform: translateY(10px); }
                60% { transform: translateY(-10px); }
                90% { transform: translateY(10px); }
                100% { transform: translateY(0); }
              }

        }

        .badge {
            background-image: $g-1;
            color: $c-2;
            font-size: 0.9em;
            font-weight: 400;
     
        }
    }

    &-date {
        padding: 25px 0px 0px 0px;

        h2 {
            font-size: 1.2em;
            font-weight: 400;
        }

    }

}

.clicked {
    -webkit-box-shadow: 0px 13px 31px -13px #000000 !important;
    box-shadow: 0px 13px 31px -13px #000000 !important;
    transform: translateY(-10px);
    color: $white;
    border-radius: 0 !important;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-image: $g-1 !important;


    .list-buttons .btn.animation {
        animation: SHW .5s;
        animation-fill-mode: both
    }

    @keyframes SHW {
        from {
            transform: scale(0.7);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }



}




// list delete/goto buttons
.list-buttons {

    a.btn1 {
        width: 10%;
        z-index: -5;
        padding: 5px;
        position: absolute;
        right: -80px;
        top: 53px;
        opacity: 0;
        border-radius: 25px;

    }

    a.btn2 {

        width: 10%;
        position: absolute;
        left: -80px;
        z-index: -5;
        top: 53px;
        padding: 5px;
        opacity: 0;
        border-radius: 25px;
    }

}







.list-holder {
    min-height: 700px;
}


.todo-list {


    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 20px 20px 5px 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-image: $g-3;
    margin-bottom: 25px;



    &::before {
        content: '';
        border-radius: 20px 20px 5px 5px;
        position: absolute;
        width: 100%;
        height: 100%;
        background: red;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-image: $g-1;
        opacity: 0;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }




    &:hover {
        -webkit-box-shadow: 0px 13px 31px -13px #000000;
        box-shadow: 0px 13px 31px -13px #000000;
        transform: translateY(-10px);
        color: $white;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;

        &::before {
            content: '';
            border-radius: 20px 20px 5px 5px;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $white;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            background-image: $g-1;
            opacity: 1;
            -webkit-transition: all 0.5s ease 0s;
            -moz-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
        }




    }


    .list--footer-box {
        display: none;
        z-index: 5;

        background: transparent;
        text-align: center;
        opacity: 0;
        padding: 10px;
        font-size: 1em;
        font-weight: 700;


    }

    .list--footer-box-date {
        display: none;
        z-index: 5;

        background: transparent;
        text-align: center;
        opacity: 0;
        padding: 10px;
        font-size: 1em;
        font-weight: 700;

    }

    .list-box {
        padding: 15px;
        z-index: 5;
    }


    .list-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2em;

    }




}

@include media-breakpoint-down(sm) { 

    .todo-list {
        width:50%;
    }

    .list-buttons {

        a.btn1 {
            width: 10%;
            z-index: -5;
            padding: 5px;
            position: absolute;
            right: -80px;
            top: 53px;
            opacity: 0;
            border-radius: 25px;
    
        }
    
        a.btn2 {
    
            width: 10%;
            position: absolute;
            left: -80px;
            z-index: -5;
            top: 53px;
            padding: 5px;
            opacity: 0;
            border-radius: 25px;
        }
    
    }
}

@include media-breakpoint-up(xl) { 

    .todo-list {
        width:50%;
    }

    .list-buttons {

        a.btn1 {
            width: 10%;
            z-index: -5;
            padding: 5px;
            position: absolute;
            right: -120px;
            top: 53px;
            opacity: 0;
            border-radius: 25px;
    
        }
    
        a.btn2 {
    
            width: 10%;
            position: absolute;
            left: -120px;
            z-index: -5;
            top: 53px;
            padding: 5px;
            opacity: 0;
            border-radius: 25px;
        }
    
    }
}