// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task-col {
    background-color: $c-2;
    color: $c-3;
    padding: 10px;
    margin-bottom: 5px;

    li {
        display: flex;
        justify-content: space-between;
    }
}


.task-buttons {
  
    display: flex;
 flex-direction: row;
}

.tasks-header {
    padding: 10px;
    margin-bottom: 25px;
    background: $c-3;
    color: $c-2;
    text-align:center;
}