// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-new-task {

    .form-input{ 
        width:90%;
    }
    padding: 20px;
    margin: 0 auto;
    width:50%;
    display: flex;
    justify-content: space-between;
}

.task-col {
    background-image: $g-1;
    color: $white;
    padding: 10px;
    margin-bottom: 5px;

    li {
        display: flex;
        justify-content: space-between;
    }
}


.task-buttons {
  
    display: flex;
 flex-direction: row;
}

.tasks-header {
    padding: 10px;
    margin-bottom: 25px;
    background: $c-3;
    color: $c-2;
    text-align:center;


}