// variables
$dark: #1695A3;
$darker: #F3FFE2;
$red: #225378;
$white: #F9FAFF;
$yellow: #F3FFE2;
$blue: #77C4D3;

$g-1: linear-gradient(135deg, #008BB4 0%, #56C3B0 100%);
$g-3: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(243, 243, 243) 100%);
$g-4: linear-gradient(135deg, #0ba7d6 0%, #008BB4 100%);

$c-1: #1695A3;
$c-2: #F3FFE2;
$c-3: #225378;
$c-4: #EB7F00;
$c-5: #ACF0F2;