/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "reset";


 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 @import "bootstrap";
 @import "variables";




 body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $c-2;
    background: $c-1;
 }

 a {
     color: $c-2;
 
 &:hover {
    color:$c-3;
 }   
}

.form-button {
    text-align: center;
    padding: 50px;
}

.btn-outline-warning {
    color: $c-2;
    background-color: $c-1;
    border-color: $c-2;
    &:hover, &:active, &:focus {
        background-color: $c-1 !important;
        border-color: $c-3!important;
        color: $c-3!important;
      
    }
    &:focus, &:active { 
        box-shadow: 0 0 0 0.2rem rgba(255, 7, 7, 0.2) !important;
    }
}

.form-control{
    &:focus, &:active {
        border-color: $c-3;
    box-shadow: 0 0 0 0.2rem rgba(255, 7, 7, 0.2) !important;
    }
}



@import "header";
@import "lists";
@import "tasks";

